<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="/css/style.css")
        title My First Node.js App
    body
        main
            block header
                header.header
                    h1 #{header}
            block content